body{
  background-image: url("../assets/images/background3.jpg");
  background-size: cover;
  background-size: 100% 100%;
}

h1{
  text-align: center;
  font-family: 'Indie Flower', cursive;
  font-size: 60px;
  color: white;
  margin-bottom: 10px;
}

p{
  text-align: center;
  font-family: 'Raleway', sans-serif;
}
#entries{
  background-color: white;
  border: solid #FA0101 1px;
  border-radius: 10px;
  height: 75px;
  width: 50%;
  margin-left: 25%;
}

#list{
  background-color: white;
  border: solid #FA0101 1px;
  border-radius: 10px;
  height: 300px;
  width: 50%;
  margin-left: 25%;
}

#mail-to{
  background-color: white;
  border: solid #FA0101 1px;
  border-radius: 10px;
  height: 75px;
  width: 50%;
  margin-left: 25%;
}

input{
  text-align: center;
}

#item-name{
  margin-left: 155px;
}
