h1{
  text-align: center;
}

p{
  text-align: center;
}
#entries{
  border: solid black 1px;
  border-radius: 10px;
  height: 75px;
  width: 50%;
  margin-left: 25%;
}

#list{
  border: solid black 1px;
  border-radius: 10px;
  height: 300px;
  width: 50%;
  margin-left: 25%;
}

#mail-to{
  border: solid black 1px;
  border-radius: 10px;
  height: 75px;
  width: 50%;
  margin-left: 25%;
}

input{
  text-align: center;
}
